<html>
  <head>
    <%= javascript_include_tag('chartl/application') %>
    <%= stylesheet_link_tag('chartl/application') %>
    <%= stylesheet_link_tag('https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') %>
  </head>

  <body class="bootstrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="text-center"><%= @chart.name || "Unnamed Chart" %></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" style="margin-bottom: 26px;">
          <div id="#chartArea"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 26px;">
          <a href="" class="btn btn-default">Last refreshed at: <%= l(@chart.updated_at) %></a>
        </div>
        <div class="col-xs-12 col-sm-6 text-right" style="margin-bottom: 26px;">
          <a href="<%= Chartl::Engine.routes.url_helpers.chartl_chart_path(id: @chart.token, format: :csv) %>" class="btn btn-default" target="_blank">Download CSV</a>
          <a href="<%= Chartl::Engine.routes.url_helpers.refresh_chartl_chart_path(id: @chart.token) %>" class="btn btn-primary">Refresh Data</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" style="margin-top: 22px; margin-bottom: 26px;">
          <label>Chart Code</label>
          <div class="well">
            <textarea class="form-control" style="width: 100%; height: 230px; font-family: monospace" readonly><%= @chart.data_code %></textarea>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<%# high_chart('chartArea', @highchart) %>

<script>
  var columnOptions = {pointPadding: 0};

  <% if @chart.options and (@chart.options[:column_stacking] || @chart.options['column_stacking']) %>
    columnOptions.stacking = 'normal';
  <% end %>

  var chart = Highcharts.stockChart('#chartArea', {
    chart: {
      type: 'column',
      zoomType: 'x',
    },
    rangeSelector: {
      selected: 1,
      buttons: [{ type: 'day', count: 1, text: '1D' }, { type: 'all', count: 1, text: 'All' }],
      labelStyle: { fontSize: '11px' },
      inputStyle: { fontSize: '11px', padding: '2px' },
      inputBoxStyle: { fontSize: '11px', padding: '2px' }
    },
    time: {
      timezone: 'Europe/Zurich'
    },
    title: { text: '' },
    xAxis: { type: 'datetime' },
    yAxis: [{
      gridLineWidth: 0,
      minorGridLineWidth: 0,
      min: 0,
      title: {
        text: ''
      }
    }, {
      gridLineWidth: 0,
      minorGridLineWidth: 0,
      min: 0, max: 100,
      opposite: false,
      title: false
    }],
    tooltip: {
      pointFormat: '{series.name}: <b>{point.y}</b>',
      shared: true
    },
    legend: {
      enabled: true,
      align: 'center',
      // x: -30,
      verticalAlign: 'top',
      y: 25,
      floating: false,
      backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
      shadow: false
    },
    plotOptions: {
      column: columnOptions
    },
    series: [
      <% utc_offset = Time.now.utc_offset %>
      <% @chart.series.to_a.each do |series| %>
        { type: '<%= series['type'] || series[:type] || 'spline' %>', name: '<%= series['name'] || series[:name] %>', data: <%= (series['data'] || series[:data] || []).map { |r| r[0].is_a?(String) ? r[0] = (Time.parse(r[0]).to_i + utc_offset) * 1000 : nil; r }.to_json %>  },
      <% end %>
    ]
  });

  Highcharts.setOptions({ global: { timezone: 'Europe/Zurich' }});
</script>